/* CSS для CatalogPage */
.catalogContainer {
  display: flex;
  gap: 20px;
  padding-top: 100px; /* Отступ сверху для предотвращения перекрытия хедером */
}

.catalogList {
  flex: 1;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.loadMoreButton {
  padding: 10px 20px;
  background-color: #e44848;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin: 20px 0;
}

.loadMoreButton:hover {
  background-color: #4d0707;
}

.error {
  color: red;
  font-size: 18px;
  margin: 20px 0;
}