
.catalogList {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
}

.loadMoreButton {
  max-width: 176px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  padding: 14px 48px;
  color:rgba(251, 251, 251, 1);
  background-color: rgba(52, 112, 255, 1);
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 100px;
  border: none;
}

.error {
  color: red;
  font-size: 18px;
  margin: 20px 0;
}

.loadMoreButton:hover,
.loadMoreButton:focus,
.loadMoreButton:active {
  padding: 14px 48px; /* Сохраняем отступы при нажатии и фокусе */
    margin-bottom: 100px;

}
