.background {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.favorites{
  margin: 0 128px;
}

.loadMoreButtonContainer {
  display: flex;
  justify-content: center;
}

.loadMoreButton {
  max-width: 176px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  padding: 14px 48px;
  color: rgba(251, 251, 251, 1);
  background-color: rgba(52, 112, 255, 1);
  cursor: pointer;
  border: none;
  margin-bottom: 100px;
}

.loadMoreButton:hover,
.loadMoreButton:focus,
.loadMoreButton:active {
  padding: 14px 48px;
  background-color: rgba(37, 94, 232, 1);
}
.noFavorites {
  display: flex;
  align-items: flex-start;
  border: 1px solid rgba(251, 251, 251, 1);
  padding: 24px;
  border-radius: 24px;
  margin-bottom: 32px;
  background-color: #fff;
  margin: 0 128px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
