.container {
  background-image: url('/public/images/Picture.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Tablets */
@media (max-width: 1024px) {
  .container {
    background-position: top; /* Adjust as needed */
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  .container {
    background-position: bottom; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
  }
}
