.card {
  display: flex;
  align-items: flex-start;
  border: 1px solid rgba(251, 251, 251, 1);
  padding: 24px;
  border-radius: 24px;
  margin-bottom: 32px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: solid 2px rgba(84, 190, 150, 0.2);
  width: 120px;
  height: 120px;
  border-radius: 30px;
  margin-right: 24px;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 15px;
}

.onlineIndicator {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 14px;
  height: 14px;
  background-color: rgba(56, 205, 62, 1);
  border-radius: 50%;
  border: 2px solid white;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerRow {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Убираем перенос строк */
  gap: 28px;
}

.titleAndName {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: rgba(138, 138, 137, 1);
  margin: 0;
}

.name {
  font-weight: 600;
  font-size: 20px;
  color: rgba(25, 26, 21, 1);
  margin: 0;
}

.rating {
  display: flex;
  align-items: center; /* Центрируем содержимое по вертикали */
  gap: 28px;
  font-weight: 500;
  line-height: 24px;
  margin-left: auto;
  color: rgba(25, 26, 21, 1);
}

.price {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.favoriteButton {
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(25, 26, 21, 1);
  transition: color 0.3s;
}

.favoriteButton.favoriteActive {
  color: #d84343; /* Красный цвет для активного избранного */
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.flexWrap p {
  margin: 0;
  background-color: rgba(243, 243, 243, 1);
  color: rgba(25, 26, 21, 1);
  border-radius: 24px;
  padding: 8px 16px;
}

.spanp {
  color: rgba(138, 138, 137, 1);
}

.about {
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 14px;
}

.readMore {
  width: 82px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(25, 26, 21, 1);
  text-decoration: underline;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.readMore:hover {
  color: #0056b3;
}

.message {
  color: red;
  margin-top: 10px;
}
