/* CSS для Header */
.header {
  max-width: 1440px;
  display: flex;
  /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 1000;
  padding: 0px 128px; /* Отступ слева и справа для центрирования контента */
  margin-bottom: 24px;
  
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-right: 130px;
}

.logospan {
  font-weight: 700;

  color: #3470ff;
}
.logospan:hover {
  color: #3498db;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ulclass {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLink {
  text-decoration: none;
  color: rgba(25, 26, 21, 1);
  transition: color 0.3s;
}

.navLink:hover {
  color: #3498db;
}

.active {
  color: red; /* Красный цвет для активного пункта навигации */
}

.userAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  gap: 8px;

}
.linkAuth{
  padding: 14px 40px;
 border: solid 1px rgba(25, 26, 21, 0.2);
  border-radius: 30px;
}
.linkAuth:last-child{
  
  color: rgba(251, 251, 251, 1);
  background-color: rgba(52, 112, 255, 1);
}
