.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирует все содержимое контейнера по горизонтали */
  max-width: 1440px; /* Ограничивает ширину, чтобы контейнер не растягивался на всю ширину */
  margin: 0 auto; /* Центрирует страницу по горизонтали */
  padding: 48px 64px;
}
.vehiclecontainer {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 44px 52px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  width: 60%;
}

.rightSection {
  width: 40%; /* Делаем правый блок занимать оставшуюся половину страницы */
  /* margin-left: 40px; */
}

.title {
  font-size: 32px;
  font-weight: bold;
  /* margin-bottom: 16px; */
}

.ratingContainer {
  display: flex;
  align-items: center;
  /* gap: 16px; */
  margin-bottom: 16px;
}

.rating,
.reviews,
.location {
  font-size: 16px;
  /* margin-bottom: 8px; */
  color: #555;
}
.rating {
  margin-right: 16px;
}

.price {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.33;
  color: #101828;
  /* margin-bottom: 16px; */
}

.images {
  display: flex;
  gap: 48px;
  margin: 28px 0;
}

.image {
  width: 292px;
  height: 312px;
  border-radius: 10px;
  object-fit: cover;
}

.description {
  font-size: 16px;
  color: #475467;
  font-weight: 400;
  margin-bottom: 60px;
}

.features {
  display: flex;

  gap: 40px;
}

.featuresLeft {
  width: 50%;
}

.subheading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333;
}

.featuresList,
.detailsList {
  list-style: none;
  padding: 0;
  /* margin: 0 0 24px 0; */
  font-size: 16px;
  color: #555;
}

.featuresRight {
  width: 50%;
}

.bookingTitle {
  font-size: 24px;
  font-weight: bold;
  /* margin-bottom: 16px; */
}

.bookingText {
  font-size: 16px;
  color: #555;
  /* margin-bottom: 24px; */
}

.bookingForm label {
  display: block;
  font-size: 14px;
  color: #555;
  /* margin-bottom: 8px; */
}

.bookingForm input,
.bookingForm textarea {
  width: 100%;
  /* padding: 8px; */
  font-size: 14px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  /* margin-bottom: 16px; */
}

.submitButton {
  /* padding: 12px 24px; */
  background-color: #e44848;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #d84343;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 34px; /* Добавляет отступ снизу для блока вкладок */
  gap: 40px; /* Расстояние между кнопками */
}

.tabButton {
  /* padding: 10px 20px; */
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.tabButton:hover {
  color: #e44848; /* Цвет при наведении */
}

.activeTab {
  color: #e44848; /* Цвет активной вкладки */
}

.activeTab::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e44848; /* Красное подчеркивание */
}

.tabContent {
  /* margin-top: 20px; */
}

.featuresList,
.detailsList {
  list-style: none;
  padding: 0;
}

.reviews {
  width: 631px;
  /* margin-top: 20px; */
}

.review {
  /* margin-bottom: 15px; */
  /* border-bottom: 1px solid #ddd; */
  /* padding-bottom: 10px; */
}

.description {
  /* margin-top: 20px; */
}

.filterSlots {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filterSlot {
  display: flex;
  align-items: center;
  background-color:rgb(212, 214, 216);
  border-radius: 100px;
  padding: 12px 18px 12px 18px;
}

.filterIcon {
  width: 20px;
  height: 20px;
}

.filterLabel {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(16, 24, 40, 1);
}

.detailsList {
  list-style-type: none;
  padding: 0;
}

.detailsList li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0; /* Отступ сверху и снизу */
  border-bottom: 1px solid #ccc; /* Опционально, линия между элементами */
}

.detailsList li span:first-child {
  font-weight: bold; /* Выделение названия */
}

.detailsList li span:last-child {
  margin-left: 16px; /* Отступ между названием и значением */
}
