.filterContainer {
  margin-bottom: 20px;
}
.filterh1 {
  font-size: 14px;
  margin-bottom: 8px;
}
.sortSelect {
  padding: 14px 18px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 14px;
  background-color: #3470ff;
  color: #fbfbfb;
  border: none;
}
