@import url('./reset.css');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 1440px; 
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

a {
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #7a272f;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
p {
  margin: 0;
  padding: 0;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #7a272f;
}

button {
  cursor: pointer;
}
span {
  margin: 0;
  padding: 0;
}
