.hero {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url('/public/images/Picture.jpg') no-repeat center center/cover;
  padding-left: 64px;
  color: #f7f7f7;
}

.heroContent {
  color: #f7f7f7;
  max-width: 600px;
}

.heroTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.heroText {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 40px;
}

.button {
  display: block;
  width: 173px;
  padding: 16px 48px;
  border-radius: 200px;
  background-color: #e44848;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
    box-sizing: border-box; /* Новый стиль */

}

.button:hover {
  background-color: #d84343;
}
